body{
	font-family: "Helvetica Neue", sans;

	background: #32b7ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #32b7ff 0%, #ffffff 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32b7ff), color-stop(95%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #32b7ff 0%,#ffffff 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #32b7ff 0%,#ffffff 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #32b7ff 0%,#ffffff 95%); /* IE10+ */
	background: linear-gradient(to bottom,  #32b7ff 0%,#ffffff 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b7ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
}


h1, h2 {
	margin: 0;
	display: inline-block;
}


header h1{
	font-size: 70px;
}


h2 {
	color: grey;
	position: absolute;
	left: 10px;
	top: 80px;
}


header{
	margin-bottom: 100px;
	width: 70%;
	position: relative;
}


nav {
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 10px;
}


ul {
	margin: 0;
	padding: 0;
}

/*–---- esto es lo que no hay que hacer (no al menos sin controlar "clear")
li {
	list-style: none;
	float: left;
}*/

li {
	display: inline-block;
}

/*
h1{
	font-size: 10px;
	color: red;
}
*/